<!-- <form (ngSubmit)="onSubmit(titleInput.value, requestInput.value)" #form> -->
<form (ngSubmit)="onSubmit()" #form>
  <app-control label="Title">
    <!-- <label>Title</label> -->
    <!-- <input name="title" id="title" [(ngModel)]="enteredTitle" /> -->
    <!-- <input name="title" id="title" #titleInput /> -->
    <input name="title" id="title" #input [(ngModel)] = "enteredTitle"/>
  </app-control>
  <app-control label="Request">
    <!-- <textarea name="request" id="request" rows="3" #requestInput></textarea> -->
    <textarea name="request" id="request" rows="3" #input [(ngModel)] = "enteredText"></textarea>
  </app-control>
  <p>
    <button appButton>
      Submit
      <span ngProjectAs="icon">⌲</span>
    </button>
  </p>
</form>